.footer {
    text-align: center;
    margin-top: 45px;
}

.footer li { margin-right: 15px;}
.footer .list-inline {display:block;}
.footer .list-inline li{display:inline-block;}
.footer .list-inline li:after{content:'•'; margin:0 0 0 31px; color: gray}
.footer .list-inline li:last-child:after {content: '';}
