.thumbnail {
    border-radius: 0px;
    border: 0px solid #000;
}

.ord {
    position: absolute;
    right: 25px;
    bottom: 20px;
    font-size: 30px;
    text-shadow: 0 3px 2px rgba(0, 0, 0, 0.5);
    color: #fff;
}

.ord:hover {
    text-decoration: none;
}
