.full {
	display:block;
	width: 100%;
}
.carousel-inner {
	overflow: visible;
}
.carousel-caption {
	right: 0;
	left: 0;
	top: 0;
	bottom: -73px;
	color: white;
	text-shadow: none;
	text-align:left;
	padding: 0;
}

.carousel-caption h1 a{
	color: #fff;
	text-decoration: none;
	font-weight: bold;
}

.carousel-caption h1 {
	min-width: 550px;
	min-width: 47vw;
	background-color: #467CAA;
	display:inline-block;
	padding: 8px 15px;
	margin-top: 25px;
	margin-bottom: 20px;
	position: absolute;
	bottom: 0px;
	right: 0px;
	font-size: 67px;
	font-size: 4vw;
}

.carousel-caption h1:hover {
	cursor: pointer;
	background-color: #315C80;
}

.carousel-caption img {
	position: absolute;
	bottom: 25px;
	right: 0;
	zoom: 1.15;
}

.carousel-control {
	background-image: none!important;
}

.carousel-indicators {
	left: 0px;
	width: 20%;
	text-align: left;
	margin-left: 20px;
}

.excerpt {
	padding: 15px 10px;
}

.arrow-left, .arrow-right {
	width: 25px;
	height: 39px;
	background: url(data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiCnhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIKeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiCnhtbG5zOmE9Imh0dHA6Ly9ucy5hZG9iZS5jb20vQWRvYmVTVkdWaWV3ZXJFeHRlbnNpb25zLzMuMC8iCng9IjBweCIgeT0iMHB4IiB3aWR0aD0iMjQuOXB4IiBoZWlnaHQ9IjM4LjlweCIgdmlld0JveD0iMCAwIDI0LjkgMzguOSIKZW5hYmxlLWJhY2tncm91bmQ9Im5ldyAwIDAgMjQuOSAzOC45Igp4bWw6c3BhY2U9InByZXNlcnZlIj4KPGxpbmUgZmlsbD0ibm9uZSIgc3Ryb2tlPSIjRkZGRkZGIiBzdHJva2Utd2lkdGg9IjIiCnN0cm9rZS1taXRlcmxpbWl0PSIxMCIgeDE9IjAuNiIgeTE9IjE5LjUiIHgyPSIyNC4zIiB5Mj0iMzguMSIvPgo8bGluZSBmaWxsPSJub25lIiBzdHJva2U9IiNGRkZGRkYiIHN0cm9rZS13aWR0aD0iMiIKc3Ryb2tlLW1pdGVybGltaXQ9IjEwIiB4MT0iMjQuMyIgeTE9IjAuOCIgeDI9IjAuNiIgeTI9IjE5LjUiLz4KPC9zdmc+Cg==) 0 0 no-repeat;
	zoom: 1.2;
	position: absolute;
	top: 50%;
	z-index: 15;
	display: inline-block;
	margin-left: -12.5px;
	margin-top: -3px;
}

.arrow-left {
}

.arrow-right {
	transform: rotate(180deg);
}

.carousel-control {
	width: 6%;
}

.info {
	margin-top: 20px;
}
.info .info-calendar,
.info .info-headlines {
	background-color: #ececec;
	margin: 0px 0px;
	padding: 20px 20px 35px 20px;
	min-height: 444px;
}
.info .more {
	position: absolute;
	bottom: 15px;
	right: 30px;
	text-align: right;
}
.info h3:first-child {
	margin-top: 0px;
}

.info > div > h3 {
	margin-left: 20px;
}

.partner {
	font-size: 13px;
	color: #858796;
	margin-top: 4px;
	margin-left: 8px;
}

p {
	font-size: 21px;
}
