.info {
	margin-top: 20px;
}
.info .info-calendar,
.info .info-headlines {
	background-color: #ececec;
	margin: 0px 0px;
	padding: 20px 20px 35px 20px;
	min-height: 444px;
}
.info .more {
	position: absolute;
	bottom: 15px;
	right: 30px;
	text-align: right;
}
.info h3:first-child {
	margin-top: 0px;
}

.info > div > h3 {
	margin-left: 20px;
}

.partner {
	font-size: 13px;
	color: #858796;
	margin-top: 4px;
	margin-left: 8px;
}

p {
	font-size: 21px;
}
