@media (min-width: 768px) {
  .navbar-wrapper {
    margin-top: 0px;
  }
  .navbar-wrapper .navbar {
    border-radius: 0px;
  }

  body[data-page="home"] .navbar-wrapper > .container {
      width: 520px;
      margin-right: 6%;
  }
  body[data-page="home"] .navbar > .container .navbar-brand {
      margin-left: 0px;
  }
}

.navbar-default {
  background-color: #1c1c1c;
  border-color: #808080;
}
.navbar-default .navbar-brand {
  color: #ebeff0;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
  color: #fcfcfc;
}
.navbar-default .navbar-text {
  color: #ebeff0;
}
.navbar-default .navbar-nav > li > a {
  color: #ebeff0;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: #fcfcfc;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  color: #fcfcfc;
  background-color: #3a6793;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
  color: #fcfcfc;
  background-color: #3a6793;
}
.navbar-default .navbar-toggle {
  border-color: #3a6793;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background-color: #3a6793;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #ebeff0;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #ebeff0;
}
.navbar-default .navbar-link {
  color: #ebeff0;
}
.navbar-default .navbar-link:hover {
  color: #fcfcfc;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #ebeff0;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #fcfcfc;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #fcfcfc;
    background-color: #3a6793;
  }
}
